aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
Makefile
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
*~
src/.deps/
src/.libs/
src/libgstrearrange.la
src/libgstrearrange_la-gstrearrange.lo

# QtCreator files (used for code editing)
GstRearrange.config
GstRearrange.files
GstRearrange.creator
GstRearrange.creator.user
GstRearrange.includes
