Source: gstreamer0.10-rearrange
Section: sound
Priority: extra
Maintainer: Manuel Reithuber <manuel@reithuber.net>
Build-Depends: debhelper (>= 7), autotools-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev
Standards-Version: 3.9.2
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://github.com/reihu/GstRearrange.git
Vcs-Browser: https://github.com/reihu/GstRearrange

Package: gstreamer0.10-rearrange
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgstreamer0.10-0
Description: GStreamer rearrange plugin
 Takes a stereo stream and puts it into two specified channels of a
 multichannel output stream, leaving the other channels silent.
